* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
overflow-x: hidden;
}
#wrapper-body {
  overflow: hidden;
  /* height: inherit; */
}

.nav-header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(4, 4, 46);
  padding: 14px 0px;
  color: white;
  align-content: center;
}

.nav-header h1 {
  font-size: 32px;
  padding: 5px;
}

.tabs {
  display: flex;
  /* padding-right: 5px; */
}

.tabs a {
  text-decoration: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.507);
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(68, 68, 68, 0.16) 0px 3px 6px,
    rgba(43, 42, 42, 0.76) 0px 3px 6px;
}
.tabs a:hover {
  background-color: white;
  color: rgb(4, 4, 46);
  transition: 100ms ease-in;
}
.tabs li {
  list-style: none;
}


/* TABLE SECTION */
.table-section{
  border-collapse: separate;
border-spacing: 0 1rem;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
color: rgb(4, 4, 46);
word-wrap: break-word;
} 
table{
  width:100%;
}
/* table{
background: transparent;
border-radius: 15px;
flex: 1 1 auto;
} */
tr td:first-child,th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tr td,th {
background-color: #dbebf5c4;
  border: 0px;
  vertical-align: middle;
  text-align: center;
  /* border-radius: 20px; */

}
th {
  padding: 14px;
  font-weight: 400;
  padding: 1.25rem 0.75rem;
  white-space: nowrap;
}
td{
  font-size: 15px;
  padding: 1.25rem 0.75rem;
  white-space: nowrap;
}

.table-data{
cursor: pointer;
} 
::-webkit-scrollbar {
width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(4, 4, 46);; 
border-radius: 10px;
}

.select-status{
  height: 50px;
  max-width: 100px;
  border-style: dashed;
  border-radius: 4px;
  outline: none;
}



/* POP-UP */
#pop-up-section {
  display: flex;
  position: relative;
  /* max-width: 100vw; */
  justify-content: center;
  align-items: center;
}
.pop-up-wrapper {
  height: 60vh;
  overflow-y: scroll;
  padding: 30px;
  position: absolute;
  z-index: 99;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.close-icon{
  font-size: 26px;
  color: #555;
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 1vw;
  left: 2vw;
  cursor: pointer;
}
.close-icon:hover{
  color: rgb(4, 4, 46);
}

#description {
  display: flex;
  flex-wrap: wrap;
}
h5{
line-height: 2;
  font-size: 22px;
  color: rgb(22, 21, 21);
}
#dimensions {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#location {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
label {
  font-weight: bold;
  max-width: 100%;
  color: rgb(46, 45, 45);
  font-size: 14px;
  line-height: 2 !important;
}
.details-container {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.product-descr-container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 40rem;
}
.product-dimension {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.product-vol-weight {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.email,.name{
  min-width: 14rem;
}
.dimen-vals{
  text-align: center;
  padding: 8px;
}
.values{
  justify-content: center;
  display: flex;
  align-items: center;
}
.details-wrapper {
  display: flex;
  width: 100%;
  font-size: 14px;
  line-height: 2;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
span {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 192, 192);
  border: none;
  padding: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#client-details p, #location p{
  /* width: 22vw; */
  padding: 10px;
  align-self: center;
}
.product-dimension p ,.product-vol-weight p{
  min-width: 40px !important;
  padding: 12px;
  align-self: center;
}
.product-descr-container p{
    padding: 10px;
    min-width: 40px !important;
  align-self: center;
}
.icons {
  font-size: 22px;
  color: rgb(32, 32, 32);
}











:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}



a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}


.btn-group {
  text-align: center;
}

.open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
@media (max-width:579px){
  ._text{
    display: none;
  }
}


/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
 width: 50%;
  /* max-height: 80vh; */
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}
@media (max-width:450px){
  .modal-dialog{
    width: 100%;
  }
}

input,select{
  width:90%;
  border: 1px solid #04042E;
}


.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

